
<!-- CONTACT US-->
<div class="container" id="contact">
  <div class="contactform">
    <div class="container">
      <div class="contactus">
        <h2><%= t "homes.contactus"%></h2>
      </div>
      <div class="paragraphcontact">
        <p><%= t "homes.wewould"%></p>
      </div>
    </div>


    <!--contact form-->

    <div class="contactFormWrapper">
      <form>
        <div class="form-group">
         <!--  <label for="exampleFormControlInput1"><%= t "homes.name"%></label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Brad Pitt">
        </div>


        <div class="form-group">
          <label for="exampleFormControlInput1"><%= t "homes.email"%></label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Bradpitt@gmail.com">
        </div>


        <div class="form-group">
          <label for="exampleFormControlTextarea1"><%= t "homes.message"%></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="How u doin ;)" rows="3"></textarea>
        </div>
 -->
        </div>
        <div class="text-center buttonemail">
          <button id="form-send-button" data-i18n="contactUs.form.sendButton" class="section-btn form-btn buttonscontact" type="button"><%= link_to 'Email', new_contact_path %></button>
        </div>
      </form>
    </div>
</div>
</div>

