<!-- Section: Features v.2 -->


  <!-- Section heading -->
  <h2 class="h1-responsive text-center titlesauce"><%= t "homes.service"%></h2>
  <!-- Section description -->

  <h5 class="text-center lettercolor"><%= t "homes.service1"%></h5>
  <p class="lettercolor2 text-center"><%= t "homes.service2"%></p>

<div class="container servicecard">
<div class="row">
  <div class="column">
    <div class="card">
      <%= inline_svg "design.svg", class: 'some-class1' %>
      <h4><%= t "homes.service3"%></h4>
      <h4><%= t "homes.service4"%></h4>
    </div>
  </div>
  <div class="column">
    <div class="card">
        <%= inline_svg "ecommerce.svg", class: 'some-class1' %>
      <h4><%= t "homes.service5"%></h4>
      <h4><%= t "homes.service6"%></h4>
    </div>
  </div>
  <div class="column">
    <div class="card">
        <%= inline_svg "support.svg", class: 'some-class1' %>
      <h4><%= t "homes.service7"%></h4>
      <h4><%= t "homes.service8"%></h4>
  </div>
</div>
</div>
</div>
