<!-- How we work -->

<!-- Inspired by Codyhouse -->
<section id="howwework" style="padding-top: 30px; padding-bottom: 40px;">
  <div class="container-fluid experience">
    <div class="row">
      <div class="col-md-12">
        <h2 class="titlesauce text-center" style="margin-bottom:120px;">HOW WE WORK</h2>
        <section class="cd-horizontal-timeline container">
          <div class="timeline">
           <div class="events-wrapper">
            <div class="events">
              <ol>
                <li><a href="#0" data-date="01/05/2015" class="selected"><%= inline_svg "idea.svg", class: 'some-class' %></a></li>
                <li><a href="#0" data-date="01/03/2014"><%= inline_svg "create.svg", class: 'some-class' %></a></li>
                <li><a href="#0" data-date="01/02/2013"><%= inline_svg "test.svg", class: 'some-class' %></a></li>
                <li><a href="#0" data-date="01/02/2012"><%= inline_svg "build.svg", class: 'some-class' %></a></li>
                <li><a href="#0" data-date="01/02/2011"><%= inline_svg "grow.svg", class: 'some-class' %></a></li>
              </ol>

              <span class="filling-line" aria-hidden="true"></span>
            </div> <!-- .events -->
          </div> <!-- .events-wrapper -->
        </div> <!-- .timeline -->

        <div class="events-content">
          <ol>
            <li class="selected" data-date="01/05/2015">
              <h5>Imagine</h5>
              <em>Understanding Client’s Needs: Purpose, Main Goals, and Target Audience</em>
              <p>Identifying and understanding what exactly the clients want helps in providing the perfect solution they are looking for. Setting goals for the website and defining target audience. </p>
            </li>

            <li data-date="01/03/2014">
              <h5>Design</h5>
              <em>Page Layouts, Review, and Approval Cycle</em>
              <p>In this stage, we create custom graphics, logo, colours, typography, animations, buttons, drop-down menus and more based on the project needs. Thus, your web app gets a tangible identity. The design of the application is critical to the user experience since it is the first experience visiting your site. As per a research, consumers form an initial judgment of a product within in 90 seconds of interaction and 62%-90% of them are based on the color. Further, different colors can evoke different emotions. Thus, cerebrally utilizing the colors while designing can bring you better results. </p>
            </li>

            <li data-date="01/02/2013">
              <h5>Create</h5>
              <em>Content Writing and Assembly</em>
              <p>Creation of content and the assembly of the web app itself; merging the design and layout with the company information. This step is crucial, since it will help us combine all the tangible and intangible information we have about your company to BEST portray what it about. </p>
            </li>
            <li data-date="01/02/2012">
              <h5>Build</h5>
              <em>Coding, Testing, Review and Launch</em>
              <p>Creation and development of websites considering all requirements agreed upon. The development process can be divided into two parts, i.e. frontend and backend. Testing and reviewing the website to ensure that there are no bugs or issues. The quality team performs tests such as functionality test, usability test, compatibility test, performance test, etc. that ensures the web application is ready for the users and launch. </p>
            </li>
            <li data-date="01/02/2011">
              <h5>Scale</h5>
              <em>Maintenance: Opinion Monitoring and Regular Updating</em>
              <p>The web development process doesn’t end after deployment. There are several post-deployment tasks that are as important as the development itself. Keeping website up-to-date helps us stay relevent in this constant changing enviroment. Further changes according to the user’s feedback, support and maintenance as well as new updates are equally necessary </p>
            </li>

          </ol>
        </div> <!-- .events-content -->
      </section>

    </div> <!-- end div experience -->
  </div> <!-- end row experience -->
</div> <!-- end container experience -->
</section>
<!-- end work experience -->
