
<!-- Inspired by Codyhouse -->
<section id="howwework" style="padding-top: 50px; padding-bottom: 40px;">
  <div class="howwework">
  <h2><%= t "homes.how"%></h2>
</div>


  <div class="container-fluid experience">
    <div class="row">
      <div class="col-md-12">

        <section class="cd-horizontal-timeline container">
          <div class="timeline">
           <div class="events-wrapper">
            <div class="events">
              <ol>
                <li><a href="#0" data-date="01/05/2015" class="selected"><%= inline_svg "idea.svg", class: 'some-class' %></a></li>
                <li><a href="#0" data-date="01/03/2014"><%= inline_svg "create.svg", class: 'some-class' %></a></li>
                <li><a href="#0" data-date="01/02/2013"><%= inline_svg "test.svg", class: 'some-class' %></a></li>
                <li><a href="#0" data-date="01/02/2012"><%= inline_svg "build.svg", class: 'some-class' %></a></li>
                <li><a href="#0" data-date="01/02/2011"><%= inline_svg "stadistics.svg", class: 'some-class' %></a></li>
              </ol>

              <span class="filling-line" aria-hidden="true"></span>
            </div> <!-- .events -->
          </div> <!-- .events-wrapper -->
        </div> <!-- .timeline -->

        <div class="container events-content">
          <ol>
            <li class="selected" data-date="01/05/2015">
              <h5><%= t "homes.imagine"%></h5>
            </br>
              <h6><%= t "homes.imagine2"%></h6>
            </br>
              <p><%= t "homes.imagine3"%></p>

            </li>

            <li data-date="01/03/2014">
              <h5><%= t "homes.design"%></h5>
            </br>
              <h6><%= t "homes.design1"%></h6>
            </br>
              <p><%= t "homes.design2"%></p>
            </li>

            <li data-date="01/02/2013">
              <h5><%= t "homes.create"%></h5>
            </br>
              <h6><%= t "homes.create1"%></h6>
            </br>
              <p><%= t "homes.create2"%></p>
            </li>

            <li data-date="01/02/2012">
              <h5><%= t "homes.build"%></h5>
            </br>
              <h6><%= t "homes.build1"%></h6>
            </br>
              <p><%= t "homes.build2"%></p>
            </li>

            <li data-date="01/02/2011">
              <h5><%= t "homes.scale"%></h5>
            </br>
              <h6><%= t "homes.scale1"%></h6>
            </br>
              <p><%= t "homes.scale2"%></p>
            </li>

          </ol>
        </div> <!-- .events-content -->
      </section>

    </div> <!-- end div experience -->
  </div> <!-- end row experience -->
</div> <!-- end container experience -->
</section>
<!-- end work experience -->


<div class="shrinked">
  <h2>HOW WE WORK</h2>
<ol>
  <div class="howweworkcards howweworkcards1">
  <li>
    <%= inline_svg "idea.svg", class: 'some-class' %>
      <h4><%= t "homes.imagine"%></h4>
      <h6><%= t "homes.imagine2"%></h6>
      <p><%= t "homes.imagine3"%></p>
  </li>
</div>

  <div class="howweworkcards howweworkcards1">
  <li>
    <%= inline_svg "create.svg", class: 'some-class' %>
      <h4><%= t "homes.design"%></h4>
      <h6><%= t "homes.design1"%></h6>
      <p><%= t "homes.design2"%></p>
  </li>
</div>

 <div class="howweworkcards howweworkcards1">
  <li>
    <%= inline_svg "test.svg", class: 'some-class' %>
      <h4><%= t "homes.create"%></h4>
      <h6><%= t "homes.create1"%></h6>
      <p><%= t "homes.create2"%></p>
  </li>
</div>

<div class="howweworkcards howweworkcards1">
  <li>
    <%= inline_svg "build.svg", class: 'some-class' %>
      <h4><%= t "homes.build"%></h4>
      <h6><%= t "homes.build1"%></h6>
      <p><%= t "homes.build2"%></p>
  </li>
</div>

<div class="howweworkcards howweworkcards1">
  <li>
    <%= inline_svg "stadistics.svg", class: 'some-class' %>
      <h4><%= t "homes.scale"%></h4>
      <h6><%= t "homes.scale1"%></h6>
      <p><%= t "homes.scale2"%></p>
  </li>
</div>
</ol>
</div>




