<!-- How we work -->

<!-- Inspired by Codyhouse -->
<section>
  <div class="container-fluid experience" style="margin-bottom: 100px;">
    <div class="row">
      <div class="col-md-12">
        <h2 class="titlesauce" style="margin:0px 0px 100px 240px;">HOW WE WORK</h2>
        <section class="cd-horizontal-timeline container">
          <div class="timeline">
           <div class="events-wrapper">
            <div class="events">
              <ol>
                <li><a href="#0" data-date="01/05/2015" class="selected"><%= inline_svg "idea.svg", class: 'some-class' %></a></li>
                <li><a href="#0" data-date="01/03/2014"><%= inline_svg "create.svg", class: 'some-class' %></a></li>
                <li><a href="#0" data-date="01/02/2013"><%= inline_svg "test.svg", class: 'some-class' %></a></li>
                <li><a href="#0" data-date="01/02/2012"><%= inline_svg "build.svg", class: 'some-class' %></a></li>
                <li><a href="#0" data-date="01/02/2011"><%= inline_svg "grow.svg", class: 'some-class' %></a></li>
              </ol>

              <span class="filling-line" aria-hidden="true"></span>
            </div> <!-- .events -->
          </div> <!-- .events-wrapper -->
        </div> <!-- .timeline -->

        <div class="events-content">
          <ol>
            <li class="selected" data-date="01/05/2015">
              <h5>Imagine</h5>
              <em>Purpose, Main Goals, and Target Audience</em>
              <p>Responsible for the conception, development, implementation and monitoring of internal communication campaigns. Management, enhancement and monitoring of the company's Intranet and Moodle. Planning and management of events.</p>
            </li>

            <li data-date="01/03/2014">
              <h5>Design</h5>
              <em>Page Layouts, Review, and Approval Cycle</em>
              <p>Responsible for the conception, development, implementation and monitoring of internal communication campaigns. Management, enhancement and monitoring of the company's Intranet and Moodle. Planning and management of events.</p>
            </li>

            <li data-date="01/02/2013">
              <h5>Create</h5>
              <em>Content Writing and Assembly</em>
              <p>Creation and development of websites within the framework of Páginas Amarelas' online products (copywriting, implementation of SEO techniques and web design).</p>
            </li>
            <li data-date="01/02/2012">
              <h5>Build</h5>
              <em>Coding, Testing, Review and Launch</em>
              <p>Creation and development of websites within the framework of Páginas Amarelas' online products (copywriting, implementation of SEO techniques and web design).</p>
            </li>
            <li data-date="01/02/2011">
              <h5>Scale</h5>
              <em>Maintenance: Opinion Monitoring and Regular Updating</em>
              <p>Creation and development of websites within the framework of Páginas Amarelas' online products (copywriting, implementation of SEO techniques and web design).</p>
            </li>

          </ol>
        </div> <!-- .events-content -->
      </section>

    </div> <!-- end div experience -->
  </div> <!-- end row experience -->
</div> <!-- end container experience -->
</section>
<!-- end work experience -->
