<!--Navbar-->

<%= render "shared/navbar" %>



<!--WE ARE TYPESCRIPT #2-->

<div id="frame">
  <article>
    <div class="parallax" >
      <div class="bg__foo">foo</div>
      <!-- <div class="bg__bar">bar</div> -->
  <!-- <div class="bg__baz">baz</div> -->
<!--   <div class="bg__bazz">bazz</div> -->
</div>
<div>



 <div class="container">
  <div class="titleweare">
    <h1>Hello, We are Websy </h1>
     <!--  <button type="button" class=" buttonsaction" data-toggle="modal" data-target="#basicExampleModal">
     Get your website!
   </button> -->
 </div>
</div>
</div>
</div>


<%= render "shared/modal" %>


<!-- What we do -->
<div class= "container header" id="about" style="padding-top: 90px;">
 <div class="text-center">
  <div class="wedo">
      <%= image_tag "logopng.png", height: 80 %>
  <%= image_tag "navbarlogo.png", height: 80 %>
    <h1><%= t "homes.title"%></h1>
    <p><%= t "homes.description"%></p>
  </div>
</div>
</div>


<div class="separator">
        </div>

<section class="parallax">
  <div class="bg__break2"></div>
</section>


<%= render "shared/timeline" %>

<section class="parallax">
  <div class="bg__break">
  </div>
</section>

<%= render "shared/services" %>


<%= render "shared/contact" %>


<%= render "shared/footer" %>

<!-- Chatbot code -->

<script type="text/javascript">(function () {
  var ldk = document.createElement('script');
  ldk.type = 'text/javascript';
  ldk.async = true;
  ldk.src = 'https://s.cliengo.com/weboptimizer/5c397e7be4b0afe542032063/5c397e7ce4b0afe542032066.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ldk, s);
})();</script>

<script>
