<%= render 'shared/navbarwhite' %>

<div class="blogs">
<div class="container-fluid ">

  <h2 class="h1-responsive text-center article">The Websy Blog</h2>

  <p class="articles text-center p-responsive mx-auto mb-5">Stay up to date with us!</p>



<!--blogs -->
<hr>
<div class="container blogcards">
  <% @posts.each do |post| %>
    <div class="row">
      <div class="cardi col-md-12 p-3">
        <div class="row ">
          <div class="col-md-4">
            <div class="blogimages img-fluid" style=" max-width: 100%; height: auto;">
           <%= cl_image_tag post.photo %>
          </div>
        </div>
          <div class="col-md-7 w-responsive mx-auto">
            <div class="card-block">
              <h6 class="card-title h6-responsive"><%= post.title %></h6>
                <h5> <%= post.created_at.strftime('%b %d, %Y') %> </h5>
                <h5> <%=post.subtitle %></h5>
          </br>
              <div>
              </div>
            </div>


 <span class="more">
 <%= post.text1 %>
       <br>
       <br>
 <%= post.text2 %>
       <br>
       <br>
 <%= post.text3 %>
       <br>
       <br>
<%= post.text4 %>
       <br>
       <br>
<%= post.text5 %>
       <br>
       <br>
<%= post.text6 %>
       <br>
       <br>
<%= post.text7 %>
       <br>
       <br>
<%= post.text8 %>
       <br>
       <br>
<%= post.text9 %>
       <br>
       <br>
<%= post.text10 %>
       <br>
       <br>
<%= post.text11 %>
       <br>
       <br>
<%= post.text12 %>
       <br>
       <br>
<%= post.text13 %>
       <br>
       <br>
<%= post.text14 %>
       <br>
       <br>
<%= post.text15 %>
       <br>
       <br>
<%= post.text16 %>
       <br>
       <br>
<%= post.text17 %>
       <br>
       <br>
<%= post.text18 %>
       <br>
       <br>
<%= post.text19 %>
       <br>
       <br>
<%= post.text20 %>


  </span>


          </div>
        </div>
           <!--  <hr> -->
      </div>
    </div>
  <% end %>
</div>
</div>

<%= render 'shared/footerwhite' %>
