<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @post.subtitle %>
</p>

<p>
  <strong>Text1:</strong>
  <%= @post.text1 %>
</p>

<p>
  <strong>Text2:</strong>
  <%= @post.text2 %>
</p>

<p>
  <strong>Text3:</strong>
  <%= @post.text3 %>
</p>

<p>
  <strong>Text4:</strong>
  <%= @post.text4 %>
</p>

<p>
  <strong>Text5:</strong>
  <%= @post.text5 %>
</p>

<p>
  <strong>Text6:</strong>
  <%= @post.text6 %>
</p>

<p>
  <strong>Text7:</strong>
  <%= @post.text7 %>
</p>

<p>
  <strong>Text8:</strong>
  <%= @post.text8 %>
</p>

<p>
  <strong>Text9:</strong>
  <%= @post.text9 %>
</p>

<p>
  <strong>Text10:</strong>
  <%= @post.text10 %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @post.photo %>
</p>


